apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: {{ .Values.name }}
  namespace: {{ .Values.namespace }}
spec:
  rules:
  - http:
      paths:
      - path: /
        backend:
          serviceName: {{ .Values.name }}
          servicePort: 5000
